<!--
  Generated template for the SubjectPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar no-border-top color="white" (click)="presentPopover($event)">
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title color="black" *ngIf="subject!== undefined">Asignatura {{subject.name}}</ion-title>
    <ion-title color="black" *ngIf="subject === undefined">Cargando...</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="main-area">
  <ion-grid padding>

    <ion-card>
      <ion-segment [(ngModel)]="appType">
        <ion-segment-button value="Evaluaciones">
          Evaluaciones
        </ion-segment-button>
        <ion-segment-button value="Info">
          Información
        </ion-segment-button>
      </ion-segment>
    </ion-card>

    <div *ngIf="appType === 'Info'">

      <ion-card>
        <ion-segment [(ngModel)]="infoType">
          <ion-segment-button value="Asignatura">
            Asignatura
          </ion-segment-button>
          <ion-segment-button value="Alumnos">
            Alumnos
          </ion-segment-button>
        </ion-segment>
      </ion-card>

      <ion-card *ngIf="infoType === 'Asignatura'">
        <ion-card-content>

          <ion-list>

            <ion-item-group>
              <ion-item-divider>
                <ion-label>Información Básica</ion-label>
              </ion-item-divider>

              <ion-item>
                <ion-label>ID</ion-label>
                <ion-label>{{subject.id}}</ion-label>
              </ion-item>

              <ion-item>
                <ion-label>Nombre</ion-label>
                <ion-label>{{subject.name}}</ion-label>
              </ion-item>

              <ion-item>
                <ion-label>Semestre</ion-label>
                <ion-label>{{subject.semester}}</ion-label>
              </ion-item>

              <ion-item>
                <ion-label>Año</ion-label>
                <ion-label>{{subject.year}}</ion-label>
              </ion-item>

            </ion-item-group>

            <ion-item-group>
              <ion-item-divider>
                <ion-label>Profesores</ion-label>
              </ion-item-divider>

              <ion-item *ngFor="let teacher of teachers">
                <ion-label>{{teacher.name}} {{teacher.surname}}</ion-label>
                <ion-label>{{teacher.email}}</ion-label>

              </ion-item>

            </ion-item-group>

            <ion-item-group>
              <ion-item-divider>
                <ion-label>Asignaturas GAUSS</ion-label>
              </ion-item-divider>
              <ion-item *ngFor="let upmSubject of upmSubjects">
                <ion-label>{{upmSubject.name}}</ion-label>
                <ion-label>{{upmSubject.id.subjectId}} - {{upmSubject.id.semester}} - {{upmSubject.id.year}}</ion-label>
              </ion-item>

            </ion-item-group>

          </ion-list>
        </ion-card-content>
      </ion-card>

      <ion-card *ngIf="infoType === 'Alumnos'">
        <ion-card-content>

          <div *ngFor="let key of upmKeys">

            <div *ngIf="upmSubjectMap.get(key).length !== 0">
              <ion-list-header>{{key.name}}</ion-list-header>
              <ion-item class="item item-block item-ios" *ngFor="let alumno of upmSubjectMap.get(key)">
                <ion-avatar item-start="">
                  <img src="http://trackwalkins.com/wp-content/uploads/2019/02/default-profile-picture.jpg">
                </ion-avatar>
                <h2>{{alumno.name}} {{alumno.surname}}</h2>
                <h3>{{alumno.email}}</h3>
                <h3 *ngIf="students_evaluations.get(alumno) === null">SIN EVALUACION ESTABLECIDA</h3>
                <h3 *ngIf="students_evaluations.get(alumno) !== null">{{students_evaluations.get(alumno)}}</h3>
                <button item-end="" ion-button outline (click)="editEvaluacion(alumno)">Cambiar Evaluación</button>
              </ion-item>
            </div>

            <div *ngIf="upmSubjectMap.get(key).length === 0">
              <ion-list-header>{{key.name}}</ion-list-header>

              <button ion-button icon-start block outline (click)="addStudents(key,this.subjectId)">
                <ion-icon name="md-person-add"></ion-icon>
                Añadir alumnos
              </button>

            </div>


          </div>


        </ion-card-content>
      </ion-card>


    </div>


    <ion-card *ngIf="appType === 'Evaluaciones'">

      <ion-item>
        <ion-label>Evaluación seleccionada:</ion-label>
        <ion-select [(ngModel)]="selectedEvaluation" interface="popover" (ngModelChange)="getAssingmentsOfEvaluation()">
          <ion-option *ngFor="let evaluation of evaluations">{{ evaluation.name }}</ion-option>
          <ion-option>NUEVA EVALUACIÓN</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-row>
          <ion-col col-12 align-self-center text-left>
            <h1 *ngIf="assingments === undefined">Tareas</h1>
            <h1 *ngIf="assingments !== undefined">Tareas en evaluación {{selectedEvaluation}}</h1>
          </ion-col>
        </ion-row>
      </ion-item>


      <ion-item *ngIf="assingments === null" style="height: 200px" text-center>
        <ion-row style="height: 100%">
          <ion-col align-self-center>
            <ion-spinner class="subjecticon" name="crescent"></ion-spinner>
            <h2>Obteniendo tareas...</h2>
          </ion-col>
        </ion-row>
      </ion-item>

      <ion-item *ngIf="assingments === undefined" style="height: 200px" text-center>
        <ion-row style="height: 100%">
          <ion-col align-self-center>
            <ion-icon class="subjecticon" name="list" color="blue-grey"></ion-icon>
            <span>
                <ion-icon class="alerticon" name="close" color="blue-grey"></ion-icon>
              </span>
            <h2>Selecciona una evaluación válida para mostrar tus tareas.</h2>
          </ion-col>
        </ion-row>
      </ion-item>


      <ion-item *ngIf="assingments !== null && assingments !== undefined && assingments.length === 0"
                style="height: 200px" text-center>
        <ion-row style="height: 100%">
          <ion-col align-self-center>
            <ion-icon class="subjecticon" name="list" color="blue-grey"></ion-icon>
            <span>
                <ion-icon class="alerticon" name="alert" color="blue-grey"></ion-icon>
              </span>
            <h2>No hay tareas en la evaluación {{selectedEvaluation}}.</h2>
            <p>Crea una nueva tarea para esta evaluación.</p>
          </ion-col>
        </ion-row>

        <ion-fab bottom right #fab1>
          <button ion-fab mini>
            <ion-icon name="color-wand"></ion-icon>
          </button>
          <ion-fab-list side="left">
            <button ion-fab (click)="createAssingment(fab1, null)" arrow tooltip="Crear nueva tarea" positionH="left">
              <ion-icon name="add"></ion-icon>
            </button>
            <button ion-fab (click)="createEvaluation(fab1, selectedEvaluation)" arrow tooltip="Editar evaluación"
                    positionH="left">
              <ion-icon name="options"></ion-icon>
            </button>
          </ion-fab-list>
        </ion-fab>
      </ion-item>

      <ion-list *ngIf="assingments !== null && assingments !== undefined && assingments.length !== 0">

        <ion-item>
          <ion-label><b>Nombre</b></ion-label>
          <ion-label><b>Mínima</b></ion-label>
          <ion-label><b>Peso</b></ion-label>
          <ion-label><b>Tipo</b></ion-label>
          <ion-label></ion-label>
        </ion-item>


        <ion-item *ngFor="let assingment of assingments">

          <ion-label>{{assingment.name}}</ion-label>
          <ion-label>{{ assingment.minimumGrade }} </ion-label>
          <ion-label>{{ assingment.weight }}/100</ion-label>
          <ion-label *ngIf="assingment.numberOfParticipants === 1 ">Individual</ion-label>
          <ion-label *ngIf="assingment.numberOfParticipants !== 1 ">Grupal ({{ assingment.numberOfParticipants }})
          </ion-label>
          <ion-label>
            <ion-fab middle right id="{{assingment.id}}_id">
              <button ion-fab mini>
                <ion-icon name="more"></ion-icon>
              </button>
              <ion-fab-list side="left">
                <button ion-fab (click)="createAssingment(null, assingment)" arrow tooltip="Opciones" positionH="left">
                  <ion-icon name="options"></ion-icon>
                </button>
                <button ion-fab (click)="editMarks(assingment)" arrow tooltip="Actas" positionH="left">
                  <ion-icon name="create"></ion-icon>
                </button>
              </ion-fab-list>
            </ion-fab>
          </ion-label>


        </ion-item>


        <ion-row style="height: 8rem;">
          <ion-item>
            <ion-fab bottom right #fab1>
              <button ion-fab mini>
                <ion-icon name="color-wand"></ion-icon>
              </button>
              <ion-fab-list side="left">
                <button ion-fab (click)="createAssingment(fab1)" arrow tooltip="Crear nueva tarea" positionH="left">
                  <ion-icon name="add"></ion-icon>
                </button>
                <button ion-fab (click)="createEvaluation(fab1, selectedEvaluation)" arrow tooltip="Editar evaluación"
                        positionH="left">
                  <ion-icon name="options"></ion-icon>
                </button>
              </ion-fab-list>
            </ion-fab>
          </ion-item>
        </ion-row>


      </ion-list>
    </ion-card>


  </ion-grid>
</ion-content>
