page-subject {

  .main-area {
    background-color: #F9F9F9;
    font-family: 'Mukta', sans-serif;
  }

  .add-button {
    padding: 8px;
  }

  .subjecticon {
    font-size: 10rem;
  }
  .alerticon {
    font-size: 4rem;
  }

}
